* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    background: #F2F2F2;
    color: #323232;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

/********** MY-INFO **********/
.img-avatar { float: left;}
img { border-radius: 50%;}
img.avatar { width: 150px;}

.my-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    text-align: right;
    line-height: 1;
    float: right;
}
  
.my-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #236FB2;
}

.abstract {
    margin-top: 18%;
}
.abstract-text {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    text-indent: 140px;
}
/*
.link-item {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 30px;
}
.link-item li {
    display: inline;
    padding: 20px;
}
.link-item li a {
    text-decoration: none;
}
.link-item li i {
    font-size: 20px;
}
*/
.menu {
    text-align: center;
    margin-top: 5%;
}
.menu li {
    display: inline;
    padding: 20px;
}
.menu li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 6px 0; 
    margin: 0 20px;
}
.menu li a:hover {
    border-bottom: 4px solid #ff2801;
    padding: 6px 0; 
  }

/********** END MY-INFO **********/


/********** EXPRECIENCE - ECUCATION - SKILLS - INTERESTS - FOOTER **********/
.section-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    margin-top: 30px;
    margin-bottom: 10%;
}
.info-main {
    margin-bottom: 20px;
}
.info {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20pt;
    font-weight: bold;
}
.info-title {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(66, 6, 6);
}
.info-data {
    float: right;
    color: rgb(179, 174, 174);
}

.info-description {
    font-family: 'Source Sans Pro', sans-serif;
    text-indent: 140px;
    text-align: justify;
    margin-top: 50px;
}
/********** END **********/


/********** SKILLS **********/
.skill {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.info-skills-list ul {
    width:300px;
    margin:auto;
    padding:0;
    display:inline-block;
    list-style-type: square;
}
.info-skills-list ul li{
    padding: 5px;
}
/********** END **********/

.interests-main {
    margin-left: 100px;
}
.interests-main ol {
    display: inline;
    padding: 20px;
}

/********** INTERESTS **********
.interests-main {
    text-align: center;
}

.interests-main ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
.interests-main ul li {
    display: inline;
    padding: 20px;
    font-size: 50pt;
}

.interests-main ul li:hover {
    color: #ff2801;
}
 END **********/

/********** FOOTER **********/
.section-title-contato {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    margin-top: 30px;
    margin-bottom: 10%;
}
.footer-main {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 50px;
}
.footer-main ul li {
    display: inline;
    padding: 20px;
}

/* .footer-main i {
    padding: 50px;
} */
/********** END **********/